@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:ital,wght@1,400&family=Lustria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Lato:ital,wght@1,400&family=Lustria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Lato:ital,wght@1,400&family=Lustria&display=swap');


:root {
  --accent: #d1a169;
  --home: #394032;
  --text: #394032;
}

html{
  /* background-color:#d64a13; */
  background-color: var(--home);
  /* background-image: url('./images/blacktexture.jpeg'); */
}

.App {
  text-align: center;
}

#name {
  background-color: var(--accent);
  background-image: url('./images/bg.png');
  color: var(--text);
  margin: 0;
  padding: 20px;
  font-family: "Dancing Script", cursive;
  font-size: xx-large;
  /* font-family: "Cabin", sans-serif; */
}

#main-content {
  margin: auto;
  max-width: 500px;
}

#main-nav {
  /* background-color: #7b2f2a; */
  background-color: var(--accent);
  /* font-family: "Caveat", cursive; */
  /* font-family: "Cabin", sans-serif; */
  background-image: url('./images/bg.png');
}

ul.nav-ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

.nav-li a:link, a:visited {
  color: var(--text);
}

.main-box {
  /* border: 5px #d64a13 solid; */
  border-radius: 25px;
  max-width: 500px;
  padding: 20px;
  padding-top: 0px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--accent);
  background-image: url('./images/bg.png');
}

p {
  text-align: left;
}